<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container py-5">
    <h1 class="text-center mb-4">
      <%= title %>
    </h1>

    <hr />
    <h2 class="text-center mb-4">註冊</h2>
    <div class="mb-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/users/signup" method="post">
            <div class="mb-3">
              <label for="nickname" class="form-label">暱稱</label>
              <input type="text" pattern="\w{6,16}" id="nickname" name="nickname" class="form-control"
                placeholder="請輸入您的暱稱" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">信箱</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="請輸入您的信箱" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="請輸入您的密碼"
                required />
            </div>
            <div class="mb-3">
              <label for="confirmpassword" class="form-label">確認密碼</label>
              <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                placeholder="請再次輸入您的密碼" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">註冊</button>
          </form>
        </div>
      </div>
    </div>
    <hr />

    <h2 class="text-center mb-4">登入</h2>
    <div class="mb-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/users/login" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">信箱</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="請輸入您的信箱" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="請輸入您的密碼"
                required />
            </div>
            <button type="submit" class="btn btn-primary w-100">登入</button>
          </form>
        </div>
      </div>
    </div>
    <hr />

    
  </div>
  <!-- <form action="/createOrder" method="post">
    <div>
      email
      <input type="email" name="Email" value="" />
    </div>
    <div>
      Amt
      <input type="number" name="Amt" value="1000" />
    </div>
    <div>
      ItemDesc
      <input type="text" name="ItemDesc" value="測試商品" />
    </div>
    <button type="submit">送出</button>
  </form>
  <hr>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="video" name="video" />
    <button type="submit">上傳</button>
  </form> -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
</body>

</html>
