<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container py-5">
    <h2 class="text-center mb-4">影片上傳 firebase</h2>
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6">
        <form class="input-group" action="/upload/video" method="post" enctype="multipart/form-data">
          <input id="videoUrl" type="file" class="form-control" name="video" required />
          <button class="btn btn-primary" type="file" id="video" name="video">上傳</button>
        </form>
      </div>
    </div>

    <h2 class="text-center mb-4">藍新</h2>
    <div class="row justify-content-center mb-5">
      <div class="col-md-6">
        <form action="/createOrder" method="post" class="bg-white p-4 rounded shadow">
          <div class="mb-3">
            <label for="email" class="form-label">信箱</label>
            <input type="email" id="email" name="Email" class="form-control" placeholder="coding.bit@gmail.com"
              required>
          </div>
          <div class="mb-3">
            <label for="amt" class="form-label">商品售價</label>
            <input type="number" id="amt" name="Amt" class="form-control" placeholder="1000" required>
          </div>
          <div class="mb-3">
            <label for="itemDesc" class="form-label">商品名稱</label>
            <input type="text" id="itemDesc" name="ItemDesc" class="form-control" placeholder="JavaScript面試超人" required>
          </div>
          <button type="submit" class="btn btn-success w-100">送出</button>
        </form>
      </div>
    </div>

    <h2 class="text-center mb-4">註冊</h2>
    <div class="mb-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/users/signup" method="post">
            <div class="mb-3">
              <label for="nickname" class="form-label">暱稱</label>
              <input type="text" pattern="\w{6,16}" id="nickname" name="nickname" class="form-control"
                placeholder="請輸入您的暱稱" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">信箱</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="請輸入您的信箱" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="請輸入您的密碼"
                required />
            </div>
            <div class="mb-3">
              <label for="confirmpassword" class="form-label">確認密碼</label>
              <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                placeholder="請再次輸入您的密碼" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">註冊</button>
          </form>
        </div>
      </div>
    </div>

    <h2 class="text-center mb-4">登入</h2>
    <div class="mb-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/users/login" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">信箱</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="請輸入您的信箱" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="請輸入您的密碼"
                required />
            </div>
            <button type="submit" class="btn btn-primary w-100">登入</button>
          </form>
        </div>
      </div>
    </div>

    <h2 class="text-center mb-4">密碼找回</h2>
    <div class="mb-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/users/forgot" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">信箱</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="請輸入您的信箱" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">送出</button>
          </form>
        </div>
      </div>

  </div>
  <!-- <form action="/createOrder" method="post">
    <div>
      email
      <input type="email" name="Email" value="" />
    </div>
    <div>
      Amt
      <input type="number" name="Amt" value="1000" />
    </div>
    <div>
      ItemDesc
      <input type="text" name="ItemDesc" value="測試商品" />
    </div>
    <button type="submit">送出</button>
  </form>
  <hr>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="video" name="video" />
    <button type="submit">上傳</button>
  </form> -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
</body>

</html>
